{% extends "base.html" %}
{% from "_helpers.html" import help_tip %}
{% block content %}
<h1 class="mb-3">Settings</h1>
<form method="post" class="card shadow-sm"><div class="card-body row g-3">
  {{ form.hidden_tag() }}
  <div class="col-md-6">{{ form.household_name.label(class="form-label") }} {{ form.household_name(class="form-control") }}</div>
  <div class="col-md-2">{{ form.budget_year.label(class="form-label") }} {{ form.budget_year(class="form-control") }}</div>
  <div class="col-md-4">{{ form.first_payday.label(class="form-label") }} {{ form.first_payday(class="form-control") }}</div>
  <div class="col-md-4">{{ form.pay_frequency.label(class="form-label") }} {{ form.pay_frequency(class="form-select") }}</div>
  <div class="col-md-4">{{ form.default_buffer_amount.label(class="form-label") }} {{ form.default_buffer_amount(class="form-control") }}</div>
  <div class="col-md-4">{{ form.currency_symbol.label(class="form-label") }} {{ form.currency_symbol(class="form-control") }}</div>
  <div class="col-md-4">{{ form.theme.label(class="form-label") }} {{ form.theme(class="form-select") }}</div>
  <div class="col-md-4">{{ form.payday_bill_handling.label(class="form-label") }} {{ form.payday_bill_handling(class="form-select") }}<div class="form-text">{{ form.payday_bill_handling.description }}</div></div>
  <div class="col-md-4"><div class="form-check mt-4">{{ form.show_help_tips(class="form-check-input") }} {{ form.show_help_tips.label(class="form-check-label") }} {{ help_tip(form.show_help_tips.description) }}</div></div>
  <div class="col-12"><button class="btn btn-primary">Save settings</button></div>
</div></form>
{% endblock %}
